html, body {
    margin: 0;
    padding: 0;
}

.app-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#dot-grid, #dot-grid-controls {
    position: absolute;
}

#dot-grid {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#dot-grid-controls {
    background: white;
    border: solid gray 1px;
    bottom: 0;
    right: 0;
    height: 30vh;
    width: 35vw;
    margin: 1%;
    z-index: 10;
}

#dot-grid-controls-header {
    padding: 1%;
    background: lightgray;
    text-align: center;
}

.dot-grid-control {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.dot-grid-control-label, .dot-color-picker {
    margin: 1%;
}